@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ELEMENTS COMMUN A TOUTES LES PAGES */

.row {
    margin: 0%;
}


/* NAV & BODY */

nav {
    background-color: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
}

body {
    background-image: url(https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

nav a {
    color: #ffe817;
}

* {
    cursor: url("https://1.bp.blogspot.com/-NmbnDADABUE/XSfhUk_X2yI/AAAAAAAAFFw/5Tp7zt_8erg2AJ-aQ1VhYdH_l4nTReY7wCLcBGAs/s1600/cursor.png"), default;
}

nav a:hover {
    color: #f5384a;
}

audio:hover,
audio:focus,
audio:active {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

audio {
    width: 20%;
    transition: all 0.5s linear;
    box-shadow: 2px 2px 7px 0px #000000;
    border-radius: 30px;
}

audio::-webkit-media-controls-play-button {
    /* background-color: green; */
}


/* FOOTER */

.container-logo {
    background-color: rgba(0, 0, 0, 0.219);
    padding-top: 2%;
    margin-top: 5%;
}

.container-logo i {
    width: 5%;
    color: rgba(179, 179, 179, 0.623);
}

.container-logo i:hover {
    color: rgb(240, 134, 35);
}

.copi {
    background-color: rgba(0, 0, 0, 0.219);
    padding-bottom: 0.5%;
    padding-top: 1%;
}

.copi p {
    color: rgba(179, 179, 179, 0.623);
    font-size: 1em;
    font-family: 'Boogaloo', cursive;
}


/* PAGE INDEX ECRAN ACCUEIL */

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Luckiest Guy', cursive;
    margin-top: 4%;
}

.home h1 {
    font-size: 5.5em;
    color: #ffe817de;
}

.monster {
    animation: jump 4s linear 0s infinite normal;
}

@keyframes jump {
    0% {
        transform: translateY(-15px);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

.button_play {
    font-size: 2.5em;
    text-align: center;
    color: rgb(248, 113, 113);
}

.button_play:hover {
    text-decoration: underline;
    color: rgb(245, 4, 4);
    transform: scale(2);
    transition: all 0.5s linear;
}

.home a {
    text-decoration: none;
}

.arrow {
    width: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.6;
}

.arrow:hover {
    width: 7%;
    transition: 0.8s
}


/* PAGE INDEX - PRESENTATION JEU */

.presentation {
    margin-top: 5%;
    background-image: url(../img/bull.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    height: 90vh;
    width: 40%;
}

.presentation h2 {
    font-family: 'Boogaloo', cursive;
    color: #c4656f;
}

.dialogue {
    width: 70%;
    text-align: center;
    margin-left: 12%;
    font-family: 'Boogaloo', cursive;
    font-size: 20px;
    color: #126075;
}

#container_home {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.poulpevert {
    width: 160%;
    animation: jump 4s linear 0s infinite normal;
}

.arrow2 {
    width: 80%;
    margin-left: 200%;
    opacity: 0.6;
}

.arrow2:hover {
    width: 90%;
    transition: 0.8s
}


/* PAGE INDEX - WALK OF FAME */

#classement {
    margin-top: 5%;
}

.container_title h2 {
    font-size: 5.5em;
    color: #ffe817de;
    font-family: 'Luckiest Guy', cursive;
}

.container_title h3 {
    font-size: 2em;
    color: #ffe817de;
    font-family: 'Luckiest Guy', cursive;
}

.title_class {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bluemonster {
    animation: jump 4s linear 0s infinite normal;
}


/* TABLEAU WALL OF FAME */

.table_class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid white;
    width: 85%;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    padding: 1%;
}

.table_class table {
    table-layout: fixed;
}

.table_class td {
    border-bottom: 1px solid white;
    text-align: center;
}

.table_class tr {
    text-align: center;
}

.div_data {
    width: 100%;
}

.table_data {
    width: 100%;
}

.table_classement {}


/* FIN PAGE INDEX */

.title_play {
    font-size: 2em;
    color: #ffe817de;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

.play h4:hover {
    color: coral;
}

.play a {
    text-decoration: none;
}

.arrowred {
    margin-left: 70%;
    position: absolute;
    transform: rotate(-10deg);
}

.arrowred:hover {
    /* width: 20%; */
    transform: rotate(-30deg);
    /* transform: scale(2); */
    transition: 1s;
}


/* COMMUN PAGE INSCRIPTION ET CONNEXION */

ul {
    background-color: rgba(136, 20, 0, 0.767);
    color: white;
    border-radius: 10px;
    padding-top: 3%;
    font-family: 'Roboto', sans-serif;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.514);
    border: transparent;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    color: white;
}

label {
    color: white;
    font-family: 'Roboto', sans-serif;
}

.container h4 {
    color: #ffffffde;
    font-family: 'Luckiest Guy', cursive;
    background-color: rgba(0, 0, 0, 0.767);
    text-align: center;
    padding: 3%;
    border-radius: 10px;
}

.bouton {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    border: none;
}

.bouton:hover {
    background-color: coral;
    cursor: url("https://1.bp.blogspot.com/-NmbnDADABUE/XSfhUk_X2yI/AAAAAAAAFFw/5Tp7zt_8erg2AJ-aQ1VhYdH_l4nTReY7wCLcBGAs/s1600/cursor.png"), default;
}


/* PAGE INSCRITPION */

.gifmonster {
    width: 65%;
}

.hellobluemonster_inscr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
    animation: jump 4s linear 0s infinite normal;
}

.mess a {
    font-size: 1.5em;
    color: white;
    text-align: center;
    text-decoration: none;
}

.mess a:hover {
    text-decoration: underline;
}


/* PAGE CONNEXION */

.body-connexion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titreconn {
    color: #ffffffde;
    font-family: 'Luckiest Guy', cursive;
    background-color: rgba(0, 0, 0, 0.767);
    text-align: center;
    padding: 3%;
    border-radius: 10px;
    margin-right: 10%;
}


/* PAGE UPDATE PROFIL */

.avatar {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid white;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.664);
}

.pseudo_profil {
    text-align: center;
    font-size: 2em;
    color: white;
    font-family: 'Luckiest Guy', cursive;
}


/* PAGE PROFIL */

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Luckiest Guy', cursive;
    align-items: center;
    font-size: 50px;
    color: white;
}

.info a {}

.title_hall,
.best-user-score {
    color: white;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    margin: 30px;
}

.best-user-score {
    color: #f5384a;
}

.detail-button a {
    font-size: 50px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 33%;
}

.detail-button a:hover {
    color: coral;
}

.retour-button {
    animation: jump 4s linear 0s infinite normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar_profil {
    width: 12%;
    /* margin-left: 16%; */
    border: 3px solid white;
    padding: 1%;
    background-color: rgba(0, 0, 0, 0.664);
}

.info_user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info a {
    font-family: 'Roboto', cursive;
    color: rgb(233, 36, 36);
    text-decoration: none;
    font-size: 0.4em;
}

.info a:hover {
    text-decoration: underline;
    color: green;
}

.info h2 {
    color: rgb(245, 56, 74);
}


/* CHOICE LEVEL */

.level a {
    font-size: 3em;
    font-family: 'Luckiest Guy', cursive;
    background-color: #00000098;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    transition: 0.6s;
}

.level a:hover {
    text-decoration: none;
    background-color: #f5384a;
    color: black;
    box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.75);
}

.level {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.title_level {
    font-size: 2em;
    font-family: 'Luckiest Guy', cursive;
    color: white;
}

.main_level {
    margin-top: 5%;
    margin-bottom: 12%;
}

.bigchelem {
    font-size: 2.5em;
    font-family: 'Luckiest Guy', cursive;
    background-color: #00000098;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    transition: 0.6s;
}

.bigchelem:hover {
    text-decoration: none;
    background-color: #f5384a;
    color: black;
    box-shadow: 0px 0px 24px 11px rgba(0, 0, 0, 0.75);
}

.chelem {
    margin-top: 2%;
    text-align: center;
}