@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
nav {
    background-color: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
}

body {
    background-image: url(https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

nav a {
    color: #ffe817;
}

* {
    cursor: url("https://1.bp.blogspot.com/-NmbnDADABUE/XSfhUk_X2yI/AAAAAAAAFFw/5Tp7zt_8erg2AJ-aQ1VhYdH_l4nTReY7wCLcBGAs/s1600/cursor.png"), default;
}

nav a:hover {
    color: #f5384a;
}

/*Profil-utilisateur*/
.info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: white;
}
.best-games
{
    font-size: 30px;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    width: 800px;
    height: 400px;
    background-color: #3E0F71;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    margin-bottom: 30px;

}
.last-games
{
    font-size: 30px;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    width: 800px;
    height: 400px;
    background-color: #3E0F71;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;

}
.title_hall
{
    color: #ffe817;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    margin: 30px;
}
.detail-button
{
    font-family: 'Luckiest Guy', cursive;
    color: #ffe817;
    text-align: center;
}
.retour-button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
