@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
nav {
    background-color: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
}

body {
    background-image: url(https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

nav a {
    color: #ffe817;
    text-align: center;
}

* {
    cursor: url("https://1.bp.blogspot.com/-NmbnDADABUE/XSfhUk_X2yI/AAAAAAAAFFw/5Tp7zt_8erg2AJ-aQ1VhYdH_l4nTReY7wCLcBGAs/s1600/cursor.png"), default;
}

nav a:hover {
    color: #f5384a;
}

/*Profil-utilisateur*/
.info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: white;
}
.best-games
{
    font-size: 30px;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    width: 800px;
    height: 400px;
    background-color: #3E0F71;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    margin-bottom: 30px;

}
.last-games
{
    font-size: 30px;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    width: 800px;
    height: 400px;
    background-color: #3E0F71;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    margin-bottom: 30px;

}
.title_hall
{
    color: #ffe817;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    margin: 30px;
}
.detail-button a
{
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
    color: #ffe817;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 4%;
}


.detail-button a:hover
{
    -webkit-transform: scale(1.9);
    -ms-transform: scale(1.9);
    transform: scale(1.9);
}
.retour-button
{
    animation: jump 4s linear 0s infinite normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes jump {
    0% {
        transform: translateY(-15px);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

/*Wall of fame*/
.top-tip
{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    width: 1000px;
    height: 600px;
    background-color: #3E0F71;
    padding: 20px;
}
.top-10
{
    color: #f5384a;
}