@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
nav {
    background-color: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 2em;
}

body {
    background-image: url(https://media.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

nav a {
    color: #ffe817;
    text-align: center;
}

* {
    cursor: url("https://1.bp.blogspot.com/-NmbnDADABUE/XSfhUk_X2yI/AAAAAAAAFFw/5Tp7zt_8erg2AJ-aQ1VhYdH_l4nTReY7wCLcBGAs/s1600/cursor.png"), default;
}

nav a:hover {
    color: #f5384a;
}

/*Profil-utilisateur*/
.info
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    color: white;
}

.title_hall , .best-user-score
{
    color: #ffe817;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    margin: 30px;
}
.best-user-score
{
    color: #f5384a;
}
.detail-button a
{
    font-size: 50px;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 33%;
}


.detail-button a:hover
{
    color: coral;
}
.retour-button
{
    animation: jump 4s linear 0s infinite normal;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes jump {
    0% {
        transform: translateY(-15px);
    }
    20% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(-15px);
    }
    80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

/*Wall of fame*/
.top-tip
{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    color: white;
    width: 1000px;
    height: 600px;
    background-color: #3E0F71;
    padding: 20px;
}
.top-10
{
    color: #f5384a;
}
.top-10-1
{
    color: white;
    text-decoration: underline;
}
/* TABLEAU WALL OF FAME */

.table_class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 3px solid white;
    width: 85%;
    margin-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    padding: 1%;
}

.table_class table {
    table-layout: fixed;
}

.table_class td {
    border-bottom: 1px solid white;
    text-align: center;
}

.table_class tr {
    text-align: center;
}

.div_data {
    width: 100%;
}

.table_data {
    width: 100%;
}

.table_classement {}


/* FIN PAGE INDEX */

.title_play {
    font-size: 2em;
    color: #ffe817de;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
}

.play h4:hover {
    color: coral;
}

.play a {
    text-decoration: none;
}

.arrowred {
    margin-left: 70%;
    position: absolute;
    transform: rotate(-10deg);
}

.arrowred:hover {
    /* width: 20%; */
    transform: rotate(-30deg);
    /* transform: scale(2); */
    transition: 1s;
}

th
{
    color: #f5384a;
}
.td
{
    color: #ffe817de;
    font-weight: bold;
}